<%- include("../partials/head", { arc, bot, user, path, description, title: "Aeona - Dashboard" , url, image }) %>
<%- include("../partials/sidebar", {  bot, user, path, description, title: "Aeona - Dashboard" , url, image,guild }) %>
<article class="prose prose-xl prose-invert   py-4 px-3  rounded  border-2 border-l-0 border-gray-400 glass overflow-y-scroll h-screen" style="height: 80vh;">
  <form role="form" action="/dashboard/<%= guild.id %>/" method="POST">
    <% if (alert) { %>
    <div id="alert-3" class="flex p-4 mb-4  rounded-lg bg-green-200" role="alert">
      <svg class="flex-shrink-0 w-5 h-5 text-green-800" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
      </svg>
      <div class="ml-3 text-sm font-medium text-green-800">
        <%= alert %>
      </div>
      <button type="button" class="ml-auto -mx-1.5 -my-1.5   rounded-lg focus:ring-2 focus:ring-green-400 p-1.5  inline-flex h-8 w-8 bg-green-200 text-green-600 hover:bg-green-300" data-dismiss-target="#alert-3" aria-label="Close">
        <span class="sr-only">Close</span>
        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>
    <% } %>
    <br>

    <h1 class="ease-in duration-300 hover:scale-105">Bot Settings</h1>

    <hr class="border-gray-400">
    <div>
      <% if (guild.icon) { iconurl="https://cdn.discordapp.com/icons/"
+ guild.id + "/" + guild.icon + ".png??size=128" ; } else {
iconurl="https://cdn.glitch.com/82fe990a-7942-42e3-9790-39807ccdb9f6%2Ficon-404-dark.png?v=1602427904949"
; } %>
      <div class="flex items-center pl-2.5 mb-5">
        <img src="<%=iconurl%>" class="h-6 mr-3 sm:h-7 rounded-full" />
        <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"><%= guild.name %></span>
      </div>
      <h4 class="ease-in duration-300 "> <%= guild.memberCount %> Server members</h4>
      <h4 class="ease-in duration-300 "> <%= guild.channels.cache.size %> Channels</h4>
      <h4 class="ease-in duration-300 "> <%= guild.roles.cache.size - 1%> Roles</h4>
      <h4 class="ease-in duration-300 "> <% if(settings.isPremium==="true" ) { %>
        Is Premium
        <% } else { %>Not Premium
        <% } %>
      </h4>
    </div>
    <h3 class="ease-in duration-300 hover:scale-105"><span class="material-symbols-outlined">
        sync_alt
      </span> Join & Leaves </h3>
    <p> <%= join1 %> Join today</p>
    <p> <%= join2 %> Joins last 7 Days</p>
    <p> <%=leave1%> Leaves today</p>
    <p> <%=leave2%> Leaves last 7 Days</p>
    <div class="text-left  mr-10  p-2 w-1/2">
      <h3 class="ease-in duration-300  hover:scale-105">Main Settings</h3>
      <h5 class="ease-in duration-300  hover:scale-105">- Customise Aeona's Main
        Settings</h5>
      <br>
      <h5 class="ease-in duration-300  hover:scale-105">Nickname</h5>
      <input type="text" name="nickname" class="  bg-transparent  mt-0
        block px-0.5  border-0 border-b-2 border-gray-200
        focus:ring-0 focus:border-gray-400 placeholder-gray-400" id="colFormLabelLg" placeholder="Nickname" value="<%= nickname || guild.me.nickname || guild.me.username %>">
    </div>


    </div>
  </form>
</article>
<%- include("../partials/footer") %>